<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


<section class="container-fluid">
<div class="row justify-content-center  ">
<%= render "devise/shared/error_messages", resource: resource %>
<div class="col-3 rounded border shadow p-3 mb-5 bg-white " id="col-Edit" >
<p class="text-center"><strong>Edit profile</strong></p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
<div class="form-group" id="errorLogin" >
<div>
<div class="form-group">
<%= f.text_field :name, autofocus: true, class: "form-control", placeholder:"Name", required: true%>
      </div>
     <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"EmailAddress", required: true%>
      </div>  
      <div class="form-group">
      <%= f.password_field :password, autocomplete: "new-password",class: "form-control", id: "password", placeholder: "New Password", required: true%>
      </div>
      <div class="form-group">
      <%= f.password_field :password, autocomplete: "confirm-password",class: "form-control", id: "password", placeholder: "Confirm Password", required: true%>
      </div>
      <div class="form-group">
      <%= f.submit "Update",class:"btn btn-primary float-right" %>
      </div>            
      <% end %>
      <%= render "devise/shared/links" %>
      </div>
      </div>
      </section>
                