

<section class="container-fluid">
<div class="row justify-content-center  ">
    <div class="col-4 rounded border shadow p-4 mb-4 bg-white " id="col-Login" >
                <p class="text-center"><strong>Sign up</strong></p>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                    <div class="form-group">
                     <%= f.text_field :name, autocomplete: "name",class: "form-control", placeholder: "Name", required: true%>
                    </div>
                    <div class="form-group" id="errorLogin" >
                    </div>
                    <div class="form-group">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"EmailAddress", required: true%>
                    </div>
                    <div class="form-group">
                      <%= f.password_field :password, autocomplete: "current-password",class: "form-control", id: "password", placeholder: "Password", required: true%>
                    </div>
                    <div class="form-group">
                      <%= f.password_field :password, autocomplete: "current-password",class: "form-control", id: "password", placeholder: "Confirm Password", required: true%>
                    </div>
                    
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                       Admin
                       </label>
                    </div>
                    <div class="form-group">
                      <%= f.submit "sign up",class:"btn btn-primary float-right" %>
                    </div>  
                  <% end %>    
            </div>
    </div>
    <label class="container">Admin
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
   </label>
   <% end %>
  <%= render "devise/shared/links" %>
  </div>
  </div>
  </section>