

<%= form_with(model: [@vehicle]) do |form|%>
    <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% @vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name ,"Number/Name"%>
    <%= form.text_field :name_or_mobile %>
  </div>

  <div class="field">
    <%= form.label :number,"Vehicle no" %>
    <%= form.text_field :number %>
  </div>
  <div class="row">
  <div class="field " >
    <%= form.label :vehicle_type,"Bike" %>
    <%= form.radio_button :vehicle_type, 'bike', :checked => true  %>
  </div>
  <div class="field " >
    <%= form.label :vehicle_type,"Car" %>
    <%= form.radio_button :vehicle_type, 'car', :checked => true  %>
  </div>


  </div>

  <div class="actions">
    <%= form.submit "ADD" %>
  </div>
<% end %>

