<h1> Edit Charges </h1>
    <%= form_with model: @charge, url: {action: "update"}, method: :patch, local: true do |f| %>
      <div class="form-group row">
          <%= f.label :vehicle_type, class: "col-sm-2 col-form-label col-sm-2 col-form-label col-form-label-lg"%>
          <div class="col-sm-2 col-form-label col-sm-2 col-form-label col-form-label-lg">
              <%= f.label :vehicle_type, @charge.vehicle_type %>
          </div>
      </div>
      <div class="form-group row">
          <%= f.label :min_hours, class: "col-sm-2 col-form-label col-sm-2 col-form-label col-form-label-lg"%>
          <div class="col-sm-1">
              <%= f.number_field :min_hours, {min: 1,max:100} %>
          </div>
      </div>
      <div class="form-group row">
          <%= f.label :min_charge, class: "col-sm-2 col-form-label col-sm-2 col-form-label col-form-label-lg"%>
          <div class="col-sm-1">
              <%= f.number_field :min_charge, {min: 1,max:100} %>
          </div>
      </div>
      <div class="form-group row">
          <%= f.label :extra_hour_charges, class: "col-sm-2 col-form-label col-sm-2 col-form-label col-form-label-lg"%>
          <div class="col-sm-1">
              <%= f.number_field :extra_hour_charges, {min: 1,max:100} %>
          </div>
      </div>
      <div class="form-group row">
      <div class="col-sm-d">
        <%= f.submit 'Update', class: 'btn btn-primary'%>
        <%= link_to 'Cancel',{controller: 'charges',action:'index'},class: 'btn btn-primary'%>
      </div>
      </div>

    </div>
<% end %>




